* {
  box-sizing: border-box;
  font-family: 'VT323', monospace;
  /* cursor: pointer; */
}

.textcontent {
  margin: 50px auto;
  text-align: center;
  font-size: 100px
}

h1 {
  letter-spacing: 10px;
  text-align: center;
  font-size: 100px;
  margin: 0 auto;
}

/* h2 {
  text-align: center;
  font-size: 40px;
  letter-spacing: 3px;
} */

h4 {
  font-size: 30px;
}

.buttons {
  display: flex;
  justify-content: center;
}

.start {
  color: white;
  background-color: black;
  font-size: 20px;
  padding: 10px;
  margin-right: 50px;
  border-radius: 10%;
}

.reset {
  color: white;
  background-color: black;
  font-size: 20px;
  padding: 10px;
  margin-left: 50px;
  border-radius: 10%;
}

body {
  background-image:url(../assets/carole-joe-background.png);
  background-size: cover;
  /* background-position: center center; */
}

span {
  font-size: 30px;
  letter-spacing: 2px;
  background-color: rgba(190, 144, 212, 0.5);
}

/* .startmodule {
  background-image:url(../assets/white-house-joe.png);
  background-size: cover;
  background-position: center center;
} */

.score {
  text-align: center;
  font-size: 30px;
}

.grid-wrapper {
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;
}

.grid {
  background-color: rgba(0, 0, 0, 0.7);
  align-items: center;
  box-shadow: 0 0 20px 0 rgb(255, 255, 255);
  border-radius: 10%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  height: 600px;
  width: 600px;
}

.grid div {
  /* border: 1px solid black; */
  /* border-style: dotted; */
  flex-grow: 1;
  height: 9%;
  width: 9%;
}

.grid div.spaceship {
  background-image: url(../assets/joe-sprite.png);
  background-size: contain;
  background-repeat: no-repeat;
}

.grid div.invaders {
  background-image: url(../assets/carole-sprite.png);
  background-size: contain;
  background-repeat: no-repeat;
}

.grid div.laser {
  background-image: url(../assets/cub.png);
  background-size: contain;
  background-repeat: no-repeat;
}

.grid div.enemy {
  background-image: url(../assets/laser-png-17-original.png);
  background-size: contain;
  background-repeat: no-repeat;
}



/*

DIFF INVADER CLASSES FOR DIFF HP's - 'nice to have'

.grid div.invaders.firstRow {
  background-color: magenta;
}

.grid div.invaders.secondRow {
  background-color: greenyellow;
}

.grid div.invaders.thirdRow {
  background-color: turquoise;
}

.grid div.invaders.fourthRow {
  background-color: coral;
} */