* {
  box-sizing: border-box;
  font-family: 'VT323', monospace;
  /* cursor: pointer; */
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;
  
}

h1 {
  font-size: 100px;
  margin-bottom: 0;
}

h2 {
  font-size: 40px;
}

.buttons {
  display: flex;
  justify-content: center;
}

.start {
  color: white;
  background-color: black;
  font-size: 20px;
  padding: 10px;
  margin-right: 40px;
}

.reset {
  color: white;
  background-color: black;
  font-size: 20px;
  padding: 10px;
  margin-left: 40px;
}

body {
  height: 100vh;
  margin: 0 auto;
  background-image:url(../assets/carole-joe-background.png);
  background-size: cover;
  /* background-position: center center; */
}

.startmodule {
  background-image:url(../assets/white-house-joe.png);
  background-size: cover;
  background-position: center center;
}

.score {
  display: flex;
  justify-content: center;
}

.grid-wrapper {
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;
}

.grid {
  background-color: rgba(0, 0, 0, 0.7);
  align-items: center;
  /* box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2); */
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  height: 600px;
  width: 600px;
}

.grid div {
  border: 1px solid black;
  border-style: dotted;
  flex-grow: 1;
  height: 9%;
  width: 9%;
}

.grid div.spaceship {
  background-image: url(../assets/joe-sprite.png);
  background-size: contain;
  background-repeat: no-repeat;
}

.grid div.invaders {
  background-image: url(../assets/carole-sprite.png);
  background-size: contain;
  background-repeat: no-repeat;
}

.grid div.laser {
  background-image: url(../assets/cub.png);
  background-size: contain;
  background-repeat: no-repeat;
}

.grid div.enemy {
  background-image: url(../assets/laser-png-17-original.png);
  background-size: contain;
  background-repeat: no-repeat;
}



/*

DIFF INVADER CLASSES FOR DIFF HP's - 'nice to have'

.grid div.invaders.firstRow {
  background-color: magenta;
}

.grid div.invaders.secondRow {
  background-color: greenyellow;
}

.grid div.invaders.thirdRow {
  background-color: turquoise;
}

.grid div.invaders.fourthRow {
  background-color: coral;
} */