* {
  box-sizing: border-box;
  /* cursor: pointer; */
}

body {
  height: 100vh;
  margin: 0;
}

.grid-wrapper {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.grid {
  align-items: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2);
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  height: 600px;
  width: 600px;
}

.grid div {
  border: 1px solid lightgrey;
  flex-grow: 1;
  height: 9%;
  width: 9%;
}

.grid div.spaceship {
  background-color: red;
}

.grid div.invaders {
  background-color: yellow;
}

.grid div.laser {
  background-color: darkblue;
}

.grid div.enemy {
  background-color: darkorchid;
}

/*

DIFF INVADER CLASSES FOR DIFF HP's - 'nice to have'

.grid div.invaders.firstRow {
  background-color: magenta;
}

.grid div.invaders.secondRow {
  background-color: greenyellow;
}

.grid div.invaders.thirdRow {
  background-color: turquoise;
}

.grid div.invaders.fourthRow {
  background-color: coral;
} */